resources/META-INF/wsdl/Balazs-PC_8080/MovieCatalogue/CatalogueService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://endpoint.catalogue/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://endpoint.catalogue/" name="CatalogueService">
<types>
<xsd:schema>
<xsd:import namespace="http://endpoint.catalogue/" schemaLocation="http://Balazs-PC:8080/MovieCatalogue/CatalogueService?xsd=1"/>
</xsd:schema>
</types>
<message name="getReleaseNameByIdService">
<part name="parameters" element="tns:getReleaseNameByIdService"/>
</message>
<message name="getReleaseNameByIdServiceResponse">
<part name="parameters" element="tns:getReleaseNameByIdServiceResponse"/>
</message>
<message name="getMoviesFilteredByTitleService">
<part name="parameters" element="tns:getMoviesFilteredByTitleService"/>
</message>
<message name="getMoviesFilteredByTitleServiceResponse">
<part name="parameters" element="tns:getMoviesFilteredByTitleServiceResponse"/>
</message>
<message name="getMoviesFilteredByDirectorService">
<part name="parameters" element="tns:getMoviesFilteredByDirectorService"/>
</message>
<message name="getMoviesFilteredByDirectorServiceResponse">
<part name="parameters" element="tns:getMoviesFilteredByDirectorServiceResponse"/>
</message>
<message name="getMoviesFilteredByGenreService">
<part name="parameters" element="tns:getMoviesFilteredByGenreService"/>
</message>
<message name="getMoviesFilteredByGenreServiceResponse">
<part name="parameters" element="tns:getMoviesFilteredByGenreServiceResponse"/>
</message>
<message name="getMoviesFilteredByTypeService">
<part name="parameters" element="tns:getMoviesFilteredByTypeService"/>
</message>
<message name="getMoviesFilteredByTypeServiceResponse">
<part name="parameters" element="tns:getMoviesFilteredByTypeServiceResponse"/>
</message>
<message name="getDirectorsFilteredByNameService">
<part name="parameters" element="tns:getDirectorsFilteredByNameService"/>
</message>
<message name="getDirectorsFilteredByNameServiceResponse">
<part name="parameters" element="tns:getDirectorsFilteredByNameServiceResponse"/>
</message>
<message name="insertMovieService">
<part name="parameters" element="tns:insertMovieService"/>
</message>
<message name="insertMovieServiceResponse">
<part name="parameters" element="tns:insertMovieServiceResponse"/>
</message>
<message name="insertDirectorService">
<part name="parameters" element="tns:insertDirectorService"/>
</message>
<message name="insertDirectorServiceResponse">
<part name="parameters" element="tns:insertDirectorServiceResponse"/>
</message>
<message name="getDirectorsService">
<part name="parameters" element="tns:getDirectorsService"/>
</message>
<message name="getDirectorsServiceResponse">
<part name="parameters" element="tns:getDirectorsServiceResponse"/>
</message>
<message name="getReleasesService">
<part name="parameters" element="tns:getReleasesService"/>
</message>
<message name="getReleasesServiceResponse">
<part name="parameters" element="tns:getReleasesServiceResponse"/>
</message>
<message name="updateMovieService">
<part name="parameters" element="tns:updateMovieService"/>
</message>
<message name="updateMovieServiceResponse">
<part name="parameters" element="tns:updateMovieServiceResponse"/>
</message>
<message name="updateDirectorService">
<part name="parameters" element="tns:updateDirectorService"/>
</message>
<message name="updateDirectorServiceResponse">
<part name="parameters" element="tns:updateDirectorServiceResponse"/>
</message>
<message name="deleteMoviesService">
<part name="parameters" element="tns:deleteMoviesService"/>
</message>
<message name="deleteMoviesServiceResponse">
<part name="parameters" element="tns:deleteMoviesServiceResponse"/>
</message>
<message name="deleteDirectorsService">
<part name="parameters" element="tns:deleteDirectorsService"/>
</message>
<message name="deleteDirectorsServiceResponse">
<part name="parameters" element="tns:deleteDirectorsServiceResponse"/>
</message>
<message name="getGenresService">
<part name="parameters" element="tns:getGenresService"/>
</message>
<message name="getGenresServiceResponse">
<part name="parameters" element="tns:getGenresServiceResponse"/>
</message>
<message name="insertGenreService">
<part name="parameters" element="tns:insertGenreService"/>
</message>
<message name="insertGenreServiceResponse">
<part name="parameters" element="tns:insertGenreServiceResponse"/>
</message>
<message name="deleteGenreService">
<part name="parameters" element="tns:deleteGenreService"/>
</message>
<message name="deleteGenreServiceResponse">
<part name="parameters" element="tns:deleteGenreServiceResponse"/>
</message>
<message name="insertReleaseService">
<part name="parameters" element="tns:insertReleaseService"/>
</message>
<message name="insertReleaseServiceResponse">
<part name="parameters" element="tns:insertReleaseServiceResponse"/>
</message>
<message name="deleteReleaseService">
<part name="parameters" element="tns:deleteReleaseService"/>
</message>
<message name="deleteReleaseServiceResponse">
<part name="parameters" element="tns:deleteReleaseServiceResponse"/>
</message>
<message name="updateReleaseService">
<part name="parameters" element="tns:updateReleaseService"/>
</message>
<message name="updateReleaseServiceResponse">
<part name="parameters" element="tns:updateReleaseServiceResponse"/>
</message>
<message name="getMovieByKeyService">
<part name="parameters" element="tns:getMovieByKeyService"/>
</message>
<message name="getMovieByKeyServiceResponse">
<part name="parameters" element="tns:getMovieByKeyServiceResponse"/>
</message>
<message name="updateGenreService">
<part name="parameters" element="tns:updateGenreService"/>
</message>
<message name="updateGenreServiceResponse">
<part name="parameters" element="tns:updateGenreServiceResponse"/>
</message>
<message name="getGenreOfMovieService">
<part name="parameters" element="tns:getGenreOfMovieService"/>
</message>
<message name="getGenreOfMovieServiceResponse">
<part name="parameters" element="tns:getGenreOfMovieServiceResponse"/>
</message>
<message name="getDirectorOfMovieService">
<part name="parameters" element="tns:getDirectorOfMovieService"/>
</message>
<message name="getDirectorOfMovieServiceResponse">
<part name="parameters" element="tns:getDirectorOfMovieServiceResponse"/>
</message>
<message name="getGenreIdByNameService">
<part name="parameters" element="tns:getGenreIdByNameService"/>
</message>
<message name="getGenreIdByNameServiceResponse">
<part name="parameters" element="tns:getGenreIdByNameServiceResponse"/>
</message>
<message name="getDirectorNameByIdService">
<part name="parameters" element="tns:getDirectorNameByIdService"/>
</message>
<message name="getDirectorNameByIdServiceResponse">
<part name="parameters" element="tns:getDirectorNameByIdServiceResponse"/>
</message>
<message name="getMoviesService">
<part name="parameters" element="tns:getMoviesService"/>
</message>
<message name="getMoviesServiceResponse">
<part name="parameters" element="tns:getMoviesServiceResponse"/>
</message>
<message name="getReleaseIdByNameService">
<part name="parameters" element="tns:getReleaseIdByNameService"/>
</message>
<message name="getReleaseIdByNameServiceResponse">
<part name="parameters" element="tns:getReleaseIdByNameServiceResponse"/>
</message>
<message name="getDirectorIdByNameService">
<part name="parameters" element="tns:getDirectorIdByNameService"/>
</message>
<message name="getDirectorIdByNameServiceResponse">
<part name="parameters" element="tns:getDirectorIdByNameServiceResponse"/>
</message>
<message name="getGenreNameByIdService">
<part name="parameters" element="tns:getGenreNameByIdService"/>
</message>
<message name="getGenreNameByIdServiceResponse">
<part name="parameters" element="tns:getGenreNameByIdServiceResponse"/>
</message>
<portType name="CatalogueService">
<operation name="getReleaseNameByIdService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getReleaseNameByIdServiceRequest" message="tns:getReleaseNameByIdService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getReleaseNameByIdServiceResponse" message="tns:getReleaseNameByIdServiceResponse"/>
</operation>
<operation name="getMoviesFilteredByTitleService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesFilteredByTitleServiceRequest" message="tns:getMoviesFilteredByTitleService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesFilteredByTitleServiceResponse" message="tns:getMoviesFilteredByTitleServiceResponse"/>
</operation>
<operation name="getMoviesFilteredByDirectorService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesFilteredByDirectorServiceRequest" message="tns:getMoviesFilteredByDirectorService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesFilteredByDirectorServiceResponse" message="tns:getMoviesFilteredByDirectorServiceResponse"/>
</operation>
<operation name="getMoviesFilteredByGenreService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesFilteredByGenreServiceRequest" message="tns:getMoviesFilteredByGenreService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesFilteredByGenreServiceResponse" message="tns:getMoviesFilteredByGenreServiceResponse"/>
</operation>
<operation name="getMoviesFilteredByTypeService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesFilteredByTypeServiceRequest" message="tns:getMoviesFilteredByTypeService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesFilteredByTypeServiceResponse" message="tns:getMoviesFilteredByTypeServiceResponse"/>
</operation>
<operation name="getDirectorsFilteredByNameService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorsFilteredByNameServiceRequest" message="tns:getDirectorsFilteredByNameService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorsFilteredByNameServiceResponse" message="tns:getDirectorsFilteredByNameServiceResponse"/>
</operation>
<operation name="insertMovieService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/insertMovieServiceRequest" message="tns:insertMovieService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/insertMovieServiceResponse" message="tns:insertMovieServiceResponse"/>
</operation>
<operation name="insertDirectorService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/insertDirectorServiceRequest" message="tns:insertDirectorService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/insertDirectorServiceResponse" message="tns:insertDirectorServiceResponse"/>
</operation>
<operation name="getDirectorsService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorsServiceRequest" message="tns:getDirectorsService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorsServiceResponse" message="tns:getDirectorsServiceResponse"/>
</operation>
<operation name="getReleasesService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getReleasesServiceRequest" message="tns:getReleasesService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getReleasesServiceResponse" message="tns:getReleasesServiceResponse"/>
</operation>
<operation name="updateMovieService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/updateMovieServiceRequest" message="tns:updateMovieService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/updateMovieServiceResponse" message="tns:updateMovieServiceResponse"/>
</operation>
<operation name="updateDirectorService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/updateDirectorServiceRequest" message="tns:updateDirectorService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/updateDirectorServiceResponse" message="tns:updateDirectorServiceResponse"/>
</operation>
<operation name="deleteMoviesService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/deleteMoviesServiceRequest" message="tns:deleteMoviesService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/deleteMoviesServiceResponse" message="tns:deleteMoviesServiceResponse"/>
</operation>
<operation name="deleteDirectorsService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/deleteDirectorsServiceRequest" message="tns:deleteDirectorsService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/deleteDirectorsServiceResponse" message="tns:deleteDirectorsServiceResponse"/>
</operation>
<operation name="getGenresService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getGenresServiceRequest" message="tns:getGenresService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getGenresServiceResponse" message="tns:getGenresServiceResponse"/>
</operation>
<operation name="insertGenreService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/insertGenreServiceRequest" message="tns:insertGenreService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/insertGenreServiceResponse" message="tns:insertGenreServiceResponse"/>
</operation>
<operation name="deleteGenreService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/deleteGenreServiceRequest" message="tns:deleteGenreService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/deleteGenreServiceResponse" message="tns:deleteGenreServiceResponse"/>
</operation>
<operation name="insertReleaseService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/insertReleaseServiceRequest" message="tns:insertReleaseService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/insertReleaseServiceResponse" message="tns:insertReleaseServiceResponse"/>
</operation>
<operation name="deleteReleaseService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/deleteReleaseServiceRequest" message="tns:deleteReleaseService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/deleteReleaseServiceResponse" message="tns:deleteReleaseServiceResponse"/>
</operation>
<operation name="updateReleaseService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/updateReleaseServiceRequest" message="tns:updateReleaseService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/updateReleaseServiceResponse" message="tns:updateReleaseServiceResponse"/>
</operation>
<operation name="getMovieByKeyService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getMovieByKeyServiceRequest" message="tns:getMovieByKeyService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getMovieByKeyServiceResponse" message="tns:getMovieByKeyServiceResponse"/>
</operation>
<operation name="updateGenreService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/updateGenreServiceRequest" message="tns:updateGenreService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/updateGenreServiceResponse" message="tns:updateGenreServiceResponse"/>
</operation>
<operation name="getGenreOfMovieService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getGenreOfMovieServiceRequest" message="tns:getGenreOfMovieService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getGenreOfMovieServiceResponse" message="tns:getGenreOfMovieServiceResponse"/>
</operation>
<operation name="getDirectorOfMovieService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorOfMovieServiceRequest" message="tns:getDirectorOfMovieService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorOfMovieServiceResponse" message="tns:getDirectorOfMovieServiceResponse"/>
</operation>
<operation name="getGenreIdByNameService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getGenreIdByNameServiceRequest" message="tns:getGenreIdByNameService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getGenreIdByNameServiceResponse" message="tns:getGenreIdByNameServiceResponse"/>
</operation>
<operation name="getDirectorNameByIdService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorNameByIdServiceRequest" message="tns:getDirectorNameByIdService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorNameByIdServiceResponse" message="tns:getDirectorNameByIdServiceResponse"/>
</operation>
<operation name="getMoviesService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesServiceRequest" message="tns:getMoviesService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getMoviesServiceResponse" message="tns:getMoviesServiceResponse"/>
</operation>
<operation name="getReleaseIdByNameService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getReleaseIdByNameServiceRequest" message="tns:getReleaseIdByNameService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getReleaseIdByNameServiceResponse" message="tns:getReleaseIdByNameServiceResponse"/>
</operation>
<operation name="getDirectorIdByNameService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorIdByNameServiceRequest" message="tns:getDirectorIdByNameService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getDirectorIdByNameServiceResponse" message="tns:getDirectorIdByNameServiceResponse"/>
</operation>
<operation name="getGenreNameByIdService">
<input wsam:Action="http://endpoint.catalogue/CatalogueService/getGenreNameByIdServiceRequest" message="tns:getGenreNameByIdService"/>
<output wsam:Action="http://endpoint.catalogue/CatalogueService/getGenreNameByIdServiceResponse" message="tns:getGenreNameByIdServiceResponse"/>
</operation>
</portType>
<binding name="CatalogueServicePortBinding" type="tns:CatalogueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getReleaseNameByIdService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMoviesFilteredByTitleService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMoviesFilteredByDirectorService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMoviesFilteredByGenreService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMoviesFilteredByTypeService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDirectorsFilteredByNameService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertMovieService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDirectorService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDirectorsService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReleasesService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMovieService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDirectorService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMoviesService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDirectorsService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGenresService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertGenreService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteGenreService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertReleaseService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteReleaseService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateReleaseService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovieByKeyService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateGenreService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGenreOfMovieService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDirectorOfMovieService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGenreIdByNameService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDirectorNameByIdService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMoviesService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReleaseIdByNameService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDirectorIdByNameService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGenreNameByIdService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CatalogueService">
<port name="CatalogueServicePort" binding="tns:CatalogueServicePortBinding">
<soap:address location="http://Balazs-PC:8080/MovieCatalogue/CatalogueService"/>
</port>
</service>
</definitions>